* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: beige;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #35353562;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header > div {
  display: flex;
}

header > div > a:first-child i,
header > div > a + a,
header > div > form {
  display: none;
}

header > div > a:first-child {
  display: block;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 90px;
  background-clip: content-box;
  display: inline-block;
  width: 100px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-btn {
  background-color: white;
  border: none;
  color: #000000;
  padding: 5px;
  border-radius: 20px;
}
.dropbtn {
  border: none;
  background: unset;
  font-size: x-large;
}

.drop-content {
  background-color: rgb(31, 30, 30);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  max-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.7s;
}
.show {
  max-height: 100vh;
}

.drop-content li:nth-child(1) {
  order: 0;
}
.drop-content li:nth-child(2) {
  order: 3;
}
.drop-content li:nth-child(3) {
  order: 4;
}
.drop-content li:nth-child(4) {
  order: 5;
}
.drop-content li:nth-child(5) {
  order: 6;
}
.drop-content li:nth-child(6) {
  order: 1;
}
.drop-content li {
  padding: 15px;
}
.close-btn {
  display: flex;
  justify-content: flex-end;
}
.close-btn button {
  border: none;
  background: none;
  font-size: x-large;
}

main {
  flex: 1;
  overflow-y: auto;
}
aside {
    display: none;
}

article {
   
}
.section{
    display: flex;
    flex-direction: column;
}

.section .carrossel{
    display: flex;
    flex: 1;
    overflow-x: auto;
    scrollbar-width: none;
}



footer {
    width: 100%;
  background-color: #35353527;
}
footer nav ul{
    margin: auto;
    width: 100%;
    max-width: 400px;
}
footer nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
footer nav ul li{
    color: #bdbdbd;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav ul li i{
  color: #bdbdbd;
}
