* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: beige; 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header {
  position: sticky;
  top: 0;
  background-color: #35353562;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header > div {
  display: flex;
}

header > div > a:first-child i,
header > div > a + a,
header > div > .form {
  display: none;
}

header > div > a:first-child {
  display: block;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 90px;
  background-clip: content-box;
  display: inline-block;
  width: 100px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mobile-btn{
  background-color: white;
  border: none;
  color: #000000;
  padding: 15px 20px;
  border-radius: 60px;
  font-weight: bold;
}
.dropbtn {
  border: none;
  background: unset;
  font-size: x-large;
  }

.drop-content {
  background-color: rgb(31, 30, 30);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  max-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.7s;
  z-index: 1000;
}
.show {
  max-height: 100vh;
}

.drop-content li:nth-child(1) {
  order: 0;
}
.drop-content li:nth-child(2) {
  order: 3;
}
.drop-content li:nth-child(3) {
  order: 4;
}
.drop-content li:nth-child(4) {
  order: 5;
}
.drop-content li:nth-child(5) {
  order: 6;
}
.drop-content li:nth-child(6) {
  order: 1;
}
.drop-content li {
  padding: 15px;
}
.close-btn {
  display: flex;
  justify-content: flex-end;
}
.close-btn button {
  border: none;
  background: none;
  font-size: x-large;
}

main {
  flex: 1;
  overflow-y: auto;
}
aside {
    display: none;
}

.section{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.section .carrossel{
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 15px 0;
    transition: all 3.5s ease;
    scroll-behavior: smooth;
}

.section .carrossel li figure{
    padding: 10px;
    height: 180px;
    border-radius: 7px;
}
.section .carrossel li figure:hover{
  background-color: #35353527;
}
.section .carrossel li img{
    height: 80%;
    border-radius: 10px;
}
.section .carrossel li figcaption{
  color: #d8d8d8;
  font-size: 0.9rem;
}

.container-carrossel{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.container-carrossel button{
   position: absolute;
   padding: 10px;
   border-radius: 50%;
   border: none;
   background-color:#383838ab;
  transition: 0.4s;
}
.container-carrossel button:hover{
  background-color: #747474d2;
}
.container-carrossel button:hover i{
  color: white;
}
.next i, .prev i{
  color: rgba(255, 255, 255, 0.767);
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}


.carrossel:hover::after{
  color: white;
}
.carrossel:hover::before{
  color: white;
}
.section-2 .carrossel li img{
    border-radius: 100%;
}

hr{
  border:1px solid rgba(87, 87, 87, 0.349);
  width: 95%;
  margin: auto;
}
.lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  gap: 40px;
}
.lista ul li:first-child{
  font-weight: bold;
}
.lista ul li{
  padding: 3px 0;
}
.lista ul li a{
  color: #bdbdbd;
}
.lista ul li a:hover{
  text-decoration: underline;
}





@media screen and (min-width:768px) { 

  header > div > a:first-child i,
  header > div > a + a,
  header > div > form {
    display: block;
  }
  header > div > a:first-child{
    display: block;
    background: none;
    width: auto;
  }

  header>div{
    align-items: center;
    padding: 15px;
    gap: 10px;
  }
  header>div>a{
    font-size: 1.4rem;
    background-color:#3838389a;
    border-radius: 50%;
    padding: 10px;
  }
  header > div > a:first-child{
    margin-right: 10px;
    font-size: 2rem;
  }
  header>div .form{
    display: flex;
    background-color:#3838389a;
    border-radius: 50px;
    box-sizing: border-box;
  }
  header>div form{
    display: flex;
    padding: 5px;
    gap: 2px;
    max-width:0;
    width: 100%;
    overflow: hidden;
  }
  header>div .form form input{
    border:none;
    border-radius:50px;
    background:none;
    padding: 5px;
  }
  header>div .btn-s{
    background-color: unset;
    padding: 10px;
    border: none;
    background-color: #3838389a;
    border-radius: 50%;
    font-size: 1.4rem;
  }
  header>div .btn-s:hover,  header>div>a:hover{
    background-color: #383838e7;
  }

  .aparecer{
    max-width: 100%;
  }

  .mobile-btn, .dropbtn{
    display: none;
  }
  .close-btn{
    display: none;
  }
  .drop-content{
    background-color: transparent;
    position: static;
    max-height: none;
    height: auto;
    width: auto;
    overflow: visible;
    transition: none;
    flex-direction: row;
    gap: 10px;
  }
  .drop-content li{
    order: initial !important;
    font-size: 11pt;
    padding: 0;
  }
.drop-content li:hover{
  font-weight: 600;
}
  .drop-content li:nth-child(4)::after{
      border-right: 1px solid white;
      content: '';
      padding-right: 20px;
      margin-right: 23px;
  }

  .drop-content li:nth-child(5)::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0ab";
    padding-right: 7px;
  }

  .drop-content li:nth-child(7) a{
     background-color: white;
  border: none;
  color: #000000;
  padding: 15px 20px;
  border-radius: 60px;
  font-weight: bold;
  }
  









  main{
    display: flex;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
  }
  aside{
    display: block;
    min-width:150px;
    width: 200px;
    max-width: 350px;
    background-color:#35353562;
    padding: 15px;
    border-radius: 10px;
    resize: horizontal;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color:#35353562 black;
  }
  
  article{
    background-color: #35353562;
    border-radius: 10px;
    overflow-y: auto;
    flex: 1;
  }
  
}







footer {
  padding:20px 10px 10px 0px;
  background-color: #35353527;
  position: sticky;
  bottom: 0;
}
footer nav ul{
    margin: auto;
    width: 100%;
    max-width: 400px;
}
footer nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

footer nav ul li{
    color: #bdbdbd;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav ul li i{
  color: #bdbdbd;
}

